<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hanmo.com.drinkingwaterassistant">

    <!--잠금화면 퍼미션-->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.PHONE_STATE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DWApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        tools:replace="android:allowBackup, icon, label"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DWAppTheme">
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyTargetWaterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".lockscreen.LockscreenActivity"
            android:showOnLockScreen="true"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/lockscreenView"/>

        <service android:name=".lockscreen.service.LockScreenService" />

        <receiver
            android:name=".receiver.PackageReceiver"
            android:exported="true">
            <intent-filter android:priority="9999">
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="BOOTReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".fcm.DWFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8a672da65b206f92c4873b276005c0a30d5a5cd6" />
    </application>
</manifest>